.gradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;

  /*Fallback if gradeints don't work */
  background: #b659b578;
  /*Linear gradient... */
  background: radial-gradient(at center, #c67bfc5e, #2fff5a2e);
}
